.post-grid {
    display: flex;

    padding-right: 15px;
    padding-left: 15px;
}

.post-grid-cell {
    flex: 1;

    padding-right: 15px;
    padding-left: 15px;
}

.post-grid-cell.u-full {
    flex: 0 0 100%;
}

.post-grid-cell.u-1of4 {
    flex: 0 0 25%;
}

@media (max-width: 768px) {
    .post-grid-cell.u-1of4 {
        display: none;
    }
}
