<div class="post-grid" [@flyIn]="'active'">
    <div class="post-grid-cell">
        <app-postlist></app-postlist>
    </div>
    <div class="post-grid-cell u-1of4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>扶竹技术</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                记录学习和成长的地方，着力于保险资产管理相关投资业务系统的学习研究,尤其关注投资清算、估值核算、系统运维方面......
            </mat-card-content>
        </mat-card>

        <mat-card style="margin-top: 20px;">
            <mat-card-header>
                <mat-card-title>联系方式</mat-card-title>
                <mat-card-subtitle>QQ群:559878181</mat-card-subtitle>
            </mat-card-header>
            <img matCardImage src="assets/imgs/1493273833559.png">
        </mat-card>

        <app-sitestat></app-sitestat>
    </div>
</div>
