.post-list-container {
}

.post-item-container {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px dashed #d9d9d9;
}

.more_link {
    display: inline;
    margin: 0;
    padding: 1px 6px 0;
    background: 0 0;
    border: 0;
    border-radius: 3px;
    outline: 0;
    cursor: pointer;
    color: #999;
}

.more_link:hover {
    color: #fff;
    background-color: #009dc4;
}

.item-collapse {
    display: inline-block;
    float: right;
    margin: 0;
    padding: 1px 6px 0;
    background: 0 0;
    border: 0;
    border-radius: 3px;
    outline: 0;
    cursor: pointer;
    color: #999;
}

.info {
    padding: 0 10px;
}

.info.first {
    padding-left: 0;
}

.icon:before {
    /* 伪元素插入空格文本 */
    content: '\3000';
}
