.manage-main-container {
    display: flex;
}
.u-1of5 {
    flex: 0 0 auto;
    padding-right: 15px;
}

.u-4of5 {
    flex: 0 1 80%;
    padding-right: 15px;
}

:host {
    @media (min-width: 768px) {
        width: 750px;
    }

    @media (min-width: 992px) {
        width: 970px;
    }

    @media (min-width: 1200px) {
        width: 1170px;
    }
}
