<div class="manage-main-container" [@flyIn]="'active'">
    <div class="grid-cell u-1of5">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>文章管理</mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list>
                    <a mat-list-item routerLink="posts">文章列表</a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>评论管理</mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list>
                    <a mat-list-item routerLink="comments">评论列表</a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>用户列表</mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list>
                    <a mat-list-item routerLink="users">用户列表</a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>系统管理</mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list>
                    <a mat-list-item routerLink="sysparam">系统设置</a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="grid-cell">
        <router-outlet></router-outlet>
    </div>

</div>
