<!-- 顶部导航 -->
<div class="navbar navbar-fixed-top main-nav" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button #button class="navbar-toggle" type="button" data-toggle="collapse"
              data-target=".navbar-responsive-collapse" (click)="toggle(button)">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="" class="navbar-brand navbar-brand-my">
        FuzhuTech
      </a>
      <!--a routerLink="posts" class="navbar-brand navbar-brand-my">
            FuzhuTech
        </a-->
    </div>
    <div class="collapse navbar-collapse navbar-responsive-collapse" aria-expanded="false">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" class="dropdown">
          <a routerLink="posts">动态</a>
        </li>
        <li class="dropdown">
          <a href="https://github.com/fuzhutech" data-toggle="dropdown" class="dropdown-toggle"
             target="_blank">GitHub</a>
        </li>
        <li class="dropdown">
          <a href="http://git.oschina.net/fuzhutech" data-toggle="dropdown" class="dropdown-toggle"
             target="_blank">OSChina</a>
        </li>
      </ul>
      <ul *ngIf="!loginService.currentUser?.nickName" class="nav navbar-nav navbar-right">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a id="openMenuBtn" (click)="doLogin()">登录</a>
        </li>
      </ul>
      <ul *ngIf="loginService.currentUser?.nickName" class="nav navbar-nav navbar-right">
        <li routerLinkActive="active">
          <a routerLink="user">欢迎你：{{loginService.currentUser?.nickName}}</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="manage">管理后台</a>
        </li>
        <li>
          <a href="javascript:void(0);" (click)="doLogout()">退出</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- 主体内容区域 -->
<div class="container main-container">
  <router-outlet></router-outlet>
</div>
<!-- 底部区域 -->
<!--div class="footer bs-footer"-->


<div class="footer bs-footer">
  <div class="container">
    版权所有 © 2016-2017 <strong><a href="http://www.fuzhutech.com" target="_blank"
                                style="color: #333;">FuzhuTech</a></strong>&nbsp; 陕ICP备16014935号
  </div>
</div>
<div class="clearfix"></div>


<!--div class="footer bs-footer">
  <div class="container">
    <div class="row">
      <p>
        Powered by <a href="http://www.fuzhutech.com" target="_blank">FuzhuTech</a>
      </p>
    </div>
  </div>
</div-->
