<mat-sidenav-container [class.myapp-dark-theme]="darkTheme">

    <mat-sidenav #sidenav mode="over" opened="false" align="start">
        <app-sidebar (navClick)="sidenav.toggle()"></app-sidebar>
    </mat-sidenav>

    <div class="site">
        <header>
            <app-header (toggle)="sidenav.toggle()" (toggleDarkTheme)="switchTheme($event)"></app-header>
        </header>
        <main>
            <router-outlet></router-outlet>
        </main>
        <footer>
            <app-footer></app-footer>
        </footer>
    </div>
</mat-sidenav-container>
