<div class="container" [@flyIn]="'active'">
  <div class="row">
    <div class="col-sm-9">
      <app-postlist></app-postlist>
    </div>
    <div class="col-sm-3">

      <div class="social-channel-container">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">扶竹技术</h3>
          </div>
          <div class="panel-body">
            记录学习和成长的地方，着力于保险资产管理相关投资业务系统的学习研究,尤其关注投资清算、估值核算、系统运维方面......
          </div>
        </div>
      </div>

      <div class="online-contact-container">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">联系方式</h3>
          </div>
          <div class="list-group">
            <a target="_blank"
               href="//shang.qq.com/wpa/qunwpa?idkey=a0ebf6485da4c7c3a691a6193ba0f05ba3a17c5a6d6825da4e831a5c587e08a5"
               class="list-group-item">
              <i class="fa fa-qq" aria-hidden="true"></i>群:559878181
              <img src="assets/imgs/1493273833559.png" class="img-responsive">
            </a>

            <!--a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=cbfcd79e7e90939b0e2c519f475fac4792985ce2abc5ad45ec5e06ffcfe944dd" class="list-group-item"><i class="fa fa-qq" aria-hidden="true"></i> Angular 2区:139357161（满）</a>
            <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=639229c8b6ad0c3a9a8f381dddf5d7785780b20d8c37eb25c91ac73ea7d37a5f" class="list-group-item"><i class="fa fa-qq" aria-hidden="true"></i> Angular 3区:473129930（将满）</a-->
          </div>
        </div>
      </div>

      <app-sitestat></app-sitestat>

    </div>
  </div>
</div>
