form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

mat-card {
    width: 20em;
    /*margin: 5px 5px;

    height: 25em;
    flex: 0 0 20em;
    align-items: center;*/
}

.text-right {
    margin: 10px;
    text-align: right;
}

:host {
    display: flex;
}
