form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

mat-card {
    width: 20em;
}

.text-right {
    margin: 10px;
    text-align: right;
}

:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
