// 引入angular material主题支持
@import '~@angular/material/theming';

// 引入Material 公用的主体风格,请确保只在此处包含一次，其他地方不要再include
@include mat-core();

// 定义默认主题颜色，使用_theming.scss 中定义的 Material Design 调色板来定义我们自有主题的调色板
$my-app-primary: mat-palette($mat-indigo);
$my-app-accent: mat-palette($mat-pink, A200, A100, A400);
$my-app-warn: mat-palette($mat-red);  //警告的调色默认红色，但列在这里便于以后的自定义。

// 创建一个主题对象 (包含所有自定义的调色板)
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

// 设置自定义主题，使其生效
@include angular-material-theme($my-app-theme);

// 提供一个深色主题
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn); // 这句是关键，Material 主题分为 light 和 dark 两种

// 将深色主题包含在一个 css 类中，这样任何组件如果包含在一个应用此类的元素中,该组件就会应用这个主题风格
.myapp-dark-theme {
    @include angular-material-theme($dark-theme);
}
