<div class="post-table-container mat-elevation-z8 " [@flyIn]="'active'">

    <div class="example-header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="搜索">
        </mat-form-field>
        <button mat-raised-button type="button" (click)="goToWrite()" style="float: right">发表文章</button>
    </div>

    <mat-table #table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>序号</mat-header-cell>
            <mat-cell *matCellDef="let post"> {{post.id}}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> 标题</mat-header-cell>
            <mat-cell *matCellDef="let post"> {{post.title}}</mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="userName">
            <mat-header-cell *matHeaderCellDef> 作者</mat-header-cell>
            <mat-cell *matCellDef="let post"> {{post.userName}}</mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="customDate">
            <mat-header-cell *matHeaderCellDef> 日期</mat-header-cell>
            <mat-cell *matCellDef="let post"> {{post.createTime | customDate}}</mat-cell>
        </ng-container>

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>操作</mat-header-cell>
            <mat-cell *matCellDef="let post">
                <button mat-icon-button (click)="editPost(post)">
                    <mat-icon class="mat-18">edit</mat-icon>
                </button>
                <button mat-icon-button (click)="delPost(post)">
                    <mat-icon class="mat-18">delete</mat-icon>
                </button>
                <button mat-icon-button (click)="top(post)">
                    <mat-icon class="mat-18">arrow_upward</mat-icon>
                </button>
                <button mat-icon-button (click)="unTop(post)">
                    <mat-icon class="mat-18">arrow_downward</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
</div>
